@charset "UTF-8";
/**
 * Colors: https://flatuicolors.com/palette/gb
 */

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300|Source+Serif+Pro);

*, *:before, *:after {
	box-sizing: border-box;
}

a:link, a:visited {
	color: #192a56;
}

a:hover, a:active {
	color: #00a8ff;
}

body {
	font: 25px "Source Serif Pro", serif;
	color: #2f3640;
	background: #f5f6fa;
}

@media (max-width: 500px) {
	body {
		font-size: 16px;
	}
}

header {
	margin: 2em 0 0;
	padding: .5em;
	text-align: center;
}

header h1 {
	margin: 0;
	font-size: 2em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	color: #c23616;
}

header h1 a:link, header h1 a:visited {
	color: #c23616;
	text-decoration: none;
}

header h1 a:hover, header h1 a:active {
	color: #00a8ff;
}

header h2 {
	margin: 0;
	font-size: 1.8em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	color: #c23616;
}

main {
	width: 35em;
	margin: 1.5em auto 0;
	max-width: 100%;
	padding: 0 .5em;
}

main form span {
	display: block;
	margin: 0 0 1em;
}

main form span:after {
	display: table;
	content: " ";
	clear: both;
}

main form label {
	width: 33%;
	float: left;
	padding-right: 1.5em;
}

main form label i {
	font-style: normal;
	text-align: right;
	display: inline-block;
}

main form input {
	width: 66%;
	float: right;
	padding: .2em;
	border: 2px solid #dcdde1;
	background: rgba(0,0,0,0);
	font-family: "Source Code Pro", monospace;
}

main form input.ergebnis {
	border: 0px none;
	color: #e84118
}

main form select {
	width: 66%;
	float: right;
	padding: .2em;
	border: 2px solid #dcdde1;
	background: rgba(0,0,0,0);
	font-family: "Source Code Pro", monospace;
}

/* RPi GPIO Pins */
main .gpio-pinout {
}
main .gpio-pinout span {
	font-weight: 600;
}
main .gpio-pinout .gpio {
	color: #4cd137;
}
main .gpio-pinout .gnd {
	color: #718093;
}
main .gpio-pinout ._5v {
	color: #e84118;
	/*color: #c23616;*/
}
main .gpio-pinout ._3v3 {
	color: #00a8ff;
}
code.highlight {
	font: .8em "Source Code Pro", monospace;
}
code.highlight .comment {
	font-style: italic;
	color: #999;
}
code.highlight .keyword {
	font-weight: bold;
}
code.highlight .value {
	color: #444;
	font-style: italic;
}
code.highlight .function {
	color: #555;
}
#readme_content, #todo_content, #license_content {
  border: .1em solid #dcdde1;
  padding: .5em;
}
#readme_content h4, #readme_content h5, #todo_content h4, #todo_content h5 {
  margin: 0 0 .5em;
}
#license_content {
  overflow-x: scroll;
  white-space: pre;
  font: .7em "Source Code Pro",monospace;
  color: #f5f6fa;
  background: #2f3640;
}
footer {
	margin: 1.5em 0;
	padding: .5em;
	text-align: center;
}

footer p {
	margin: 0 0 .5em;
	font-size: .7em;
}

footer p:last-child {
	margin: 0;
}

